doctype
html
  head
    title Tech Tryout: Stripe
    link(rel='stylesheet', href='/stylesheets/app.css')

    script(type='text/javascript', src='https://js.stripe.com/v2/')
    script(type='text/javascript').
      Stripe.setPublishableKey('pk_test_QMBIesN0LOUxzpUhcwbNGCbW');

    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')

    script(type='text/javascript', src='/js/base.js')

  body
    header
      h1 Tech Tryout: Stripe
    .container
      .main-content
        block content
    footer
      p Running on node with Express