extend base

block content
    form#payment-form(action='/payment', method='POST')
        span.payment-errors
        .form-row
            label
                span Card Number
                input(type='text', size='20', data-stripe='number', value="4242424242424242")
        .form-row
            label
                span CVC
                input(type='text', size='4', data-stripe='cvc', value="424")
        .form-row
            label
                span Expiration (MM/YYYY)
                input(type='text', size='2', data-stripe='exp-month', value="12")
            span    /
            input(type='text', size='4', data-stripe='exp-year', value="2017")
        button(type='submit') Submit Payment